body {
    background-color: #f7f7f7;
  
h2{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 38px;
}
h3{
    line-height: 32px;
    font-size: 22px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}
h5{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 600;
    margin: 20px 0 20px 0;
}
.dashboard-content{
    padding: 30px;
    width: calc(100% - 260px);
}
    .breadcrumbs {
        width: 300px;

        ul {
            a {
                color: #888;
            }

            list-style-type: none;
        }
    }
}